{% extends "layout.html" %}
  
{% block content %}
  <h2>Rishabh Agarwal</h2>
<p style="text-align:right">
<img src="static\dd.png" alt="Rishabh Agarwal" style="float:left;width:304px;height:500px">
<table style=background-color:#2B2B2B;"text-align:right";"width:50%">
  <tr>
    <td>NAME :</td>
    
    <td>RISHABH AGARWAL</td>
  </tr>
<tr>
    <td>NICK :</td>
    
    <td><i>legend</i></td>
  </tr>
  <tr>
    <td>D.O.B :</td>
    
    <td>27/02/1997</td>
  </tr>
<tr>
    <td>GENDER :</td>
    
    <td>MALE</td>
  </tr>
<tr>
    <td>OCCUPATION:</td>
    
    <td>STUDENT</td>
  </tr>
<tr>
    <td>BRANCH :</td>
    
    <td>COMPUTER SCIENCE AND ENGEENERING</td>
  </tr>
<tr>
    <td>ROLL NO. :</td>
    
    <td>14074011</td>
  </tr>
<tr>
    <td>HOME TOWN:</td>
    
    <td>AGRA</td>
  </tr>
<tr>
    <td>COURSES :</td>
    
    <td>ENGINEERING MATHEMETICS-2, ELECTRICAL, IT WORKSHOP,ENGINEERING MECHANICS, ENGINEERING MATHEMETICS-1</td>
  </tr>
<tr>
    <td>MOBILE :</td>
    
    <td>9997864419</td>
  </tr>

</table>
</p>
  
{% endblock %}
