{% extends "layout.html" %}
  
{% block content %}
  <h2>SAURAV KUMAR</h2>
<p style="text-align:right">
<img src="static\sa.jpg" alt="Saurav Kumar" style="float:left;width:304px;height:350px">
<table style=background-color:#2b2b2b;"text-align:right";"width:50%">
  <tr>
    <td>NAME:</td>
    
    <td>SAURAV KUMAR</td>
  </tr>
<tr>
    <td>NICK:</td>
    
    <td><i>bhai</i></td>
  </tr>
  <tr>
    <td>D.O.B:</td>
    
    <td>24/4/1997</td>
  </tr>
<tr>
    <td>GENDER:</td>
    
    <td>MALE</td>
  </tr>
<tr>
    <td>OCCUPATION:</td>
    
    <td>STUDENT</td>
  </tr>
<tr>
    <td>BRANCH:</td>
    
    <td>COMPUTER SCIENCE AND ENGEENERING</td>
  </tr>
<tr>
    <td>ROLL NO.:</td>
    
    <td>14075047</td>
  </tr>
<tr>
    <td>HOME TOWN:</td>
    
    <td>SHAKTINAGAR</td>
  </tr>
<tr>
    <td>COURSES:</td>
    
    <td>ENGINEERING MATHEMETICS-2,ELECTRICAL,IT WORKSHOP,ENGINEERING MECHANICS</td>
  </tr>
<tr>
    <td>MOBILE:</td>
    
    <td>9721769799</td>
  </tr>

</table>
</p>
  
{% endblock %}
